In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("wine_data.csv", usecols=[0,1,2])

In [4]:
df.columns=['Class Label','Alcohol','Malic Acid']

In [6]:
df.sample(5)

     Class Label  Alcohol  Malic Acid
170            3    12.77        2.39
5              1    14.39        1.87
120            2    11.56        2.05
144            3    13.16        3.57
113            2    12.08        1.39

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test  = train_test_split(df.drop('Class Label', axis=1), df['Class Label'],  test_size=0.3,random_state=0)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [11]:
np.round(X_train.describe(), 2)

       Alcohol  Malic Acid
count   123.00      123.00
mean     12.98        2.33
std       0.78        1.17
min      11.03        0.89
25%      12.37        1.56
50%      13.05        1.83
75%      13.62        3.08
max      14.75        5.80

In [12]:
np.round(X_train_scaled.describe(), 2)

       Alcohol  Malic Acid
count   123.00      123.00
mean      0.52        0.29
std       0.21        0.24
min       0.00        0.00
25%       0.36        0.14
50%       0.54        0.19
75%       0.70        0.45
max       1.00        1.00