In [9]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [32]:
df = pd.read_csv('Social_Network_Ads.csv')

In [34]:
df.sample(5)

     Age  EstimatedSalary  Purchased
20    45            22000          1
157   29            75000          0
279   50            36000          1
309   38            50000          0
165   18            86000          0

In [33]:
df  = df.iloc[:,2:]

In [35]:
df.sample(5)

     Age  EstimatedSalary  Purchased
260   35            77000          0
20    45            22000          1
157   29            75000          0
183   33            43000          0
55    24            55000          0

In [14]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\keval\appdata\local\programs\python\python312\lib\site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\keval\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\keval\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\keval\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\keval\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('Purchased', axis=1), df['Purchased'], test_size=0.3, random_state=0)

X_train.shape, X_test.shape

((280, 2), (120, 2))

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [38]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [41]:
np.round(X_train.describe(), 2)

          Age  EstimatedSalary
count  280.00           280.00
mean    37.86         69807.14
std     10.22         34641.20
min     18.00         15000.00
25%     30.00         43000.00
50%     37.00         70500.00
75%     46.00         88000.00
max     60.00        150000.00

In [42]:
np.round(X_train_scaled.describe(), 2)

          Age  EstimatedSalary
count  280.00           280.00
mean     0.00             0.00
std      1.00             1.00
min     -1.95            -1.58
25%     -0.77            -0.78
50%     -0.08             0.02
75%      0.80             0.53
max      2.17             2.32