In [3]:
import pandas as pd
from ydata_profiling import ProfileReport

df = pd.read_csv('covid_19_data.csv')

prof = ProfileReport(df)
prof.to_file(output_file = 'covid_file.html')

Summarize dataset: 100%|██████████| 33/33 [00:06<00:00,  4.77it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.60s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.49s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 114.98it/s]

In [14]:
df.shape

(306429, 8)

In [15]:
df.sample(5)

           SNo ObservationDate Province/State  ... Confirmed   Deaths  Recovered
37290    37291      06/07/2020       Delaware  ...    9942.0    524.0        0.0
170810  170811      12/03/2020  Massachusetts  ...  240907.0  10874.0        0.0
280849  280850      04/26/2021  Kurgan Oblast  ...   20224.0    383.0    18824.0
283826  283827      04/30/2021        Guizhou  ...     147.0      2.0      145.0
7814      7815      03/22/2020            NaN  ...    1086.0     36.0      235.0

[5 rows x 8 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [57]:
df.shape

(100, 8)

In [59]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [60]:
df['Confirmed'].describe()

count    100.00000
mean      25.55000
std       92.19691
min        0.00000
25%        1.00000
50%        3.50000
75%        9.00000
max      549.00000
Name: Confirmed, dtype: float64

In [61]:
df['Confirmed'].plot(kind='bar')